* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(30,30,46,1.000);
    border-bottom: 3px solid rgba(205,214,244,1.000);
    color: rgba(205,214,244,1.000);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #1E1E2E;
}
*/

window#waybar.termite {
    background-color: #1E1E2E;
}

window#waybar.chromium {
    background-color: #1E1E2E;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px rgba(205,214,244,1.000);
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: rgba(205,214,244,1.000);
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #1E1E2E;
    box-shadow: inset 0 -3px rgba(205,214,244,1.000);
}

#workspaces button.urgent {
    background-color: #F38BA8;
}

#mode {
    background-color: #1E1E2E;
    border-bottom: 3px solid rgba(205,214,244,1.000);
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: rgba(205,214,244,1.000);
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #1E1E2E;
}

#battery {
    background-color: rgba(205,214,244,1.000);
    color: #1E1E2E;
}

#battery.charging, #battery.plugged {
    color: rgba(205,214,244,1.000);
    background-color: #A6E3A1;
}

@keyframes blink {
    to {
        background-color: rgba(205,214,244,1.000);
        color: #1E1E2E;
    }
}

#battery.critical:not(.charging) {
    background-color: #F38BA8;
    color: #1E1E2E;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #1E1E2E;
}

#cpu {
    background-color: #A6E3A1;
    color: #1E1E2E;
}

#memory {
    background-color: #F5C2E7;
    color: #1E1E2E;
}

#disk {
    background-color: #F9E2AF;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #F38BA8;
}

#pulseaudio {
    background-color: #F9E2AF;
    color: #1E1E2E;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #1E1E2E;
}

#wireplumber {
    background-color: #fff0f5;
    color: #1E1E2E;
}

#wireplumber.muted {
    background-color: #F38BA8;
}

#custom-media {
    background-color: #A6E3A1;
    color: #1E1E2E;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #A6E3A1;
}

#custom-media.custom-vlc {
    background-color: #F9E2AF;
}

#temperature {
    background-color: #F9E2AF;
}

#temperature.critical {
    background-color: #F38BA8;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #F38BA8;
}

#idle_inhibitor {
    background-color: #1E1E2E;
}

#idle_inhibitor.activated {
    background-color: rgba(205,214,244,1.000);
    color: #1E1E2E;
}

#mpd {
    background-color: #A6E3A1;
    color: #1E1E2E;
}

#mpd.disconnected {
    background-color: #F38BA8;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #A6E3A1;
}

#language {
    background: #A6E3A1;
    color: #F5C2E7;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #A6E3A1;
    color: #1E1E2E;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
